:javascript
  //$(function(){
  //  
  //  $('#test_text').text( $.getJSON( "https://graph.facebook.com/19292868552?callback=testerino") );
  //  
  //  function testerino(){
  //    console.log('well at least the testerino fired)
  //  }
  //});
  
#test_text= @testData